@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
    font-family: Roboto !important;
}

.colorBlue {
    color: #5e82a3  !important; 
}
.icon::after{
    content: '' !important;
    background: #000 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
  }
  .icon::before{
    content: '' !important;
    background: #000 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
  }